nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a(href="#").navbar-brand ToughFit
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_about") 推薦運動項目 Recommended Exercise
        li
          a(href="#section_story") 故事 STORY
        li
          a(href="#section_future") 回主頁 BACK
header.jumbotron
  .container
   h1(data-0="transform: translateY(-50px)"
      data-500="transform: translateY(100px)") ToughFit! Light up your body
   hr
   h4 健仁健智，打造完美身材Light up your body

section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 推薦運動項目 
        h2 Recommended Exercise
        hr
      .col-md-8.col-sm-8.col-lg-8
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          iframe(width='560' height='315' src='https://www.youtube.com/embed/OcFCHdQHjVU' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 滑輪下拉
        h4 Lat-pulldown
        h5 by ATHLEAN-X™
        hr
      

      .col-md-8.col-sm-8.col-lg-8
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          iframe(width='560' height='315' src='https://www.youtube.com/embed/VL5Ab0T07e4' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        h3 硬舉
        h4 Deadlift
        h5 by Jeff Nippard

        hr
        
      .col-md-8.col-sm-8.col-lg-8
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          iframe(width='560' height='315' src='https://www.youtube.com/embed/bEv6CCg2BC8' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

        h3 深蹲
        h4 Squat
        h5 by Jeff Nippard
        hr
        

  //font awesome
section#section_story
  .container-fluid
    .row
      .col-sm-5(data-bottom-top="background-size: 150%; background-position: 0% 0%;" data-center="background-size: 100%; background-position: 50% 50%;")
      .col-sm-7
        .col-sm-12
          h2 ToughFit的使命
          hr
        .col-sm-12.features(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
          .col-sm-4 
            i.fas.fa-copy
            h4 增強產業鍊
          .col-sm-4 
            i.fab.fa-fly
            h4 促進良好環境
          .col-sm-4 
            i.fas.fa-cookie-bite
            h4 交流圈擴大
        .col-sm-12
          p Tough( 堅毅的 )Fit( 健身 )意指不管在任何艱難地阻擋依舊要堅強地精進自己、努力健身主色為黃色或亮色顯現出我們團隊散發的活力

          
     
        
        
footer.jumbotron
  .container
    h2 想了解更多ToughFit的故事嗎
    input.form-control(placeholder="Email")
    hr
    button.btn-group.btn-group-justified 訂閱專欄