nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a(href="#").navbar-brand ToughFit
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_about") 知識專區 KNOWLEDGE BOX
        li
          a(href="#section_story") 故事 STORY
        li
          a(href="#section_future") 回主頁 BACK
header.jumbotron
  .container
   h1(data-0="transform: translateY(-50px)"
      data-500="transform: translateY(100px)") ToughFit! Light up your body
   hr
   h4 健仁健智，打造完美身材Light up your body

section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 知識專區
        hr
      .col-md-3.col-sm-4.col-lg-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://cc.tvbs.com.tw/img/program/_data/i/upload/2019/12/02/20191202180950-569b8e0f-me.jpg", alt="")
        h3 營養學
        p 了解卡路里計算、健身相關激素是如何影響我們的身體、各種飲食法的知識
      

      .col-md-3.col-sm-4.col-lg-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://storage.googleapis.com/www-cw-com-tw/article/202101/article-6000add57f55c.jpg", alt="")
        h3 運動學
        p 還不會深蹲、硬舉、臥推嗎？這裡有許多有效率的健身動作知識與研究報告
        
      .col-md-3.col-sm-4.col-lg-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://www.sportsplanetmag.com/public/article/atl_20220317153919_144.jpg", alt="")
        h3 解剖學
        p 是不是受傷了？哎呀，要記得先熱身喔，來看看為什麼受傷吧
        

  //font awesome
section#section_story
  .container-fluid
    .row
      .col-sm-5(data-bottom-top="background-size: 150%; background-position: 0% 0%;" data-center="background-size: 100%; background-position: 50% 50%;")
      .col-sm-7
        .col-sm-12
          h2 ToughFit的使命
          hr
        .col-sm-12.features(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
          .col-sm-4 
            i.fas.fa-copy
            h4 增強產業鍊
          .col-sm-4 
            i.fab.fa-fly
            h4 促進良好環境
          .col-sm-4 
            i.fas.fa-cookie-bite
            h4 交流圈擴大
        .col-sm-12
          p Tough( 堅毅的 )Fit( 健身 )意指不管在任何艱難地阻擋依舊要堅強地精進自己、努力健身主色為黃色或亮色顯現出我們團隊散發的活力

          
     
        
        
footer.jumbotron
  .container
    h2 想了解更多ToughFit的故事嗎
    input.form-control(placeholder="Email")
    hr
    button.btn-group.btn-group-justified 訂閱專欄