nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a(href="#").navbar-brand ToughFit
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_ask") 引言 INTRO
        li
          a(href="#section_about") 簡介 ABOUT
        li
          a(href="#section_story") 故事 STORY
        li
          a(href="#section_future") 登入 log-in
header.jumbotron
  .container
   h1(data-0="transform: translateY(-50px)"
      data-500="transform: translateY(100px)") ToughFit! Light up your body
   hr
   h4 健仁健智，打造完美身材Light up your body
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-200px)"
      data-500="transform: translateX(0px)")
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h2 試想2019疫情剛開始肆虐全球時，線上學習市場規模為多大？
        p  What is the market size of E-learning in 2019 when Covid-19 started to outbreak?

section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 健身房
        hr
      .col-md-3.col-sm-4.col-lg-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg", alt="")
        h3 菜單拉霸
        p 提供常見超選擇商食物的隨機功能（主食、副食、飲品）與查詢營養成分CPF

      .col-md-3.col-sm-4.col-lg-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg", alt="")
        h3 知識專區
        p 由專業營養師及健身教練撰寫的：營養學、解剖學、運動學
      .col-md-3.col-sm-4.col-lg-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg", alt="")
        h3 商城
        p 使用者可在此專區預定相關的補給品、健身器材、裝備等等商品由特約廠商進行發貨

  //font awesome
section#section_story
  .container-fluid
    .row
      .col-sm-5(data-bottom-top="background-size: 150%; background-position: 0% 0%;" data-center="background-size: 100%; background-position: 50% 50%;")
      .col-sm-7
        .col-sm-12
          h2 ToughFit的使命
          hr
        .col-sm-12.features(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
          .col-sm-4 
            i.fas.fa-copy
            h4 增強產業鍊
          .col-sm-4 
            i.fab.fa-fly
            h4 促進良好環境
          .col-sm-4 
            i.fas.fa-cookie-bite
            h4 交流圈擴大
        .col-sm-12
          p Tough( 堅毅的 )Fit( 健身 )意指不管在任何艱難地阻擋依舊要堅強地精進自己、努力健身主色為黃色或亮色顯現出我們團隊散發的活力

          
section#section_future
  .container-fluid
    .row
      .col-sm-12
        h2 會員專區
        hr
      .col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        img(src="https://nuli.app/wp-content/uploads/2021/08/DSC01194-768x564.jpg", alt="")
      .col-sm-6.feature(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        i.fa.fa-desktop
        h3 專業諮詢
        p 由特聘健身教練、營養師在線回答使用者的個別問題
      .col-sm-6.feature(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        i.fa.fa-cubes
        h3 推薦運動項目
        p 根據使用者想要訓練的部位（點擊）與使用者設定的基本資訊來進行分級以推薦適合今日的運動項目

        
        
footer.jumbotron
  .container
    h2 想了解更多ToughFit的故事嗎
    input.form-control(placeholder="Email")
    hr
    button.btn-group.btn-group-justified 訂閱專欄