nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a(href="#").navbar-brand ToughFit
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_future") 回主頁 BACK
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='robots' content='index, follow')
  meta(name='description' content='')
  meta(name='author' content='Alex')
  title &#x83DC;&#x55AE;&#x62C9;&#x9738;&#x6A5F; Slot Machine
  base(target='_blank')
  link(rel='shortcut icon' href='')
  link(rel='bookmark' href='')
  link(rel='stylesheet' href='./styles/style.css')
img#background
#main
  section.food
    p.font &#x4E3B;&#x98DF;
    .block
    .bar
  section.food
    p.font &#x526F;&#x98DF;
    .block2
    .bar2
  section.food
    p.font &#x98F2;&#x54C1;
    .block3
    .bar3
section.result
  .block4
section.button_section
  button#push_button.button PUSH
script(src='./app2.js')
