nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a(href="#").navbar-brand ToughFit
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_about") 解剖學 Anatomy 
        li
          a(href="#section_future") 回主頁 BACK
header.jumbotron
  .container
   h1(data-0="transform: translateY(-50px)"
      data-500="transform: translateY(100px)") ToughFit! Light up your body
   hr
   h4 健仁健智，打造完美身材Light up your body

section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 解剖學
        h4 Anatomy
        p 平時我們進行訓練肌肉，都是需要運用到肌肉的功能。如果作為一個喜歡健身的人，不知道一塊肌肉具有什麼樣的功能，那麼是無法很好的去精準的鍛煉到目標肌肉。

        hr
        .box.box1
          .icon
            i.fab.fa-fly
            h3  解剖學的重要
            
          h4 前言
          hr
          p 如果你有解剖學的概念的話，你就可以將每個肌肉的訓練練到飽滿完美。而我們在做體態評估和康復的時候，首先也是利用解剖學去進行分析。
          hr
          h4 介紹
          p 比如：背闊肌的訓練，首先要知道背闊肌的功能：肩伸、內收、內旋等，接下來就可以使用這些功能去訓練背闊肌。解剖學就對人體的骨骼、肌肉、肌腱、筋膜、神經、血管等組織進行研究。當人體出現體態問題的時候，比如：含胸駝背，由於人體長期保持不正確的一個上身姿勢，導致了頭前伸、頸前引等體態上的結果，這個只是一個表面的情況，想要徹底幫助會員解決和改善掉這樣的癥狀，那麼就需要對含胸駝背進行研究，你就會發現，原來是因為前面的肌肉異常緊張，比如：胸鎖乳突肌、胸小肌、胸大肌、斜角肌等肌肉，而背後的肌肉比較鬆弛無力，比如：中下斜方肌、前鋸肌、菱形肌等，所以只要我們去放鬆這些緊張的肌肉，強化這些薄弱的肌肉，那麼就會幫助肌肉去恢復原來的彈性和力量，這樣我們的頸椎我們的骨骼也會恢復到正常的體態，並且還可以去很好的維持。在針對一些有疼痛、頭暈、發麻的情況的時候，看似是無法去解決的問題，其實恰恰就是因為肌肉的緊張，導致壓迫到了神經或者血管，導致大腦供血不足，引起的頭暈、頭疼等。所以運動解剖學如果學不好，那麼可能會導致你學的事倍功半，例如說：手臂發麻的處理，為什麼手臂會發麻，這個是因為我們的胸小肌和斜角肌的前中束過於緊張，壓迫到了我們的臂叢神經，引起手臂發麻以及輕微的疼痛。
            
            
        .box.box2
          .icon
            i.fab.fa-fly
            h3 健身基礎3大書，健身前別說你沒看過!
          h4 前言
          hr
          p 與其看別人肌肉UPUP模仿學習，不如先建立正確的健身觀念，想要系統性地學習健身，這些書籍將是你投資報酬率最好的選擇，好的觀念讓你事半功倍，健身先健腦！！
          hr
          h4 四週練出一身肌：733種絕對有效的練肌燃脂方法
          img(src="https://im2.book.com.tw/image/getImage?i=https://www.books.com.tw/img/001/088/05/0010880515.jpg&v=5fec56b9&w=280&h=280")
          p 作者Adam Campbell 是運動生理學碩士學位，是美國肌力與體能訓練協會(NSCA)認證的肌力與體能訓練教練。書中733種的方法，有許多動作是不需用到器材，或是只要用到啞鈴、抗力球就可以讓你的肌肉動起來。對於喜歡在家健身，又沒有太多健身器材的選擇的巨巨潛力股，是一本入門必讀。而且重點是：不會花你太多的時間！！藉由短時間動作增加你的力量，讓你再忙也能練好。*但購買此書的人可不要被中文書名給迷倒，四週可以長出一身肌的話，現在大家都是浩克了。不過書中很多訓練組合菜單，以及多樣的動作選擇，才是此書的精華。適合對象：初學者、在家健身主義者、時間有限的上班族
          hr
          h4 肌力訓練圖解聖經
          img(src="https://s.eslite.dev/Upload/Product/201101/l/634317141591512500.jpg")
          p 作者： DK Publishing 出版社：旗標本書邀請台灣最大健身網站-鐵克健身中心-具有教練證照的譯者們來著手翻譯，更符合正確性與專業性。如果有計劃上健身房的巨巨潛力股，可以考慮這一本！！為什麼呢？多樣化的訓練的方式。書中身體各部位的訓練與核心都包辦，訓練方式從自由重量至機械器材都有。圖解動作精美詳細。一個項目分解成至少 3 個以上的動作，讓初學者可以清楚發力部位的肌肉連帶關係，也避免姿勢錯誤帶來的傷害。提供明確的訓練計畫表。讓初學者在初期訓練有對排練有學習的標竿。適合對象：初學者、健身房咖
          hr
          h4 進階肌力訓練解剖聖經
          img(src="https://www.costco.com.tw/medias/sys_master/images/h9d/he1/46469677875230.jpg")
          p 作者： Frederic Delavier, Michael Gundill  出版社：旗標「本書使您訓練成果不間斷，遭遇瓶頸也快速破關，比《肌力訓練圖解聖經》更詳細的訓練原則與問題分析，鍛鍊肌肉的全面解決方案。」這本書可以作為《四週練出一身肌》或《肌力訓練圖解聖經》的進階選擇。書中開頭就幫你建立訓練技巧的觀念，並為常見問題，例如：肌肉不夠大、外觀不理想、外觀不對稱、能見度不明顯提出解決方法，讓訓練事半功倍，打造巨巨和諧的體態。加上作者豐富的解剖知識圖文輔助，讓你更準確的訓練特定肌肉群。比較特別的是，書中提供許多針對弱點肌群加強的課表，對於想要精進肌肉的訓練者，是一大福音適合對象：想更精進體態的初學者




        
footer.jumbotron
  .container
    h2 想了解更多ToughFit的故事嗎
    input.form-control(placeholder="Email")
    hr
    button.btn-group.btn-group-justified 訂閱專欄