nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a(href="#").navbar-brand ToughFit
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_about") 運動學 Exercise/Training
        li
          a(href="#section_future") 回主頁 BACK
header.jumbotron
  .container
   h1(data-0="transform: translateY(-50px)"
      data-500="transform: translateY(100px)") ToughFit! Light up your body
   hr
   h4 健仁健智，打造完美身材Light up your body

section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 運動學
        h4 Exercise/Training
        p 還不會深蹲、硬舉、臥推嗎？這裡有許多有效率的健身動作知識與研究報告

        hr
        .box.box1
          .icon
            i.fab.fa-fly
            h3  健身運動之基本觀念
          h4 前言
          hr
          p 隨著健身意識的普及，人們對於健身的要求也慢慢提升，而每個人都想在短時間內有卓越的成效，也就是擁有一個健壯的身材，但健身重訓是一個
          p 長久的訓練，沒有長時間的鍛鍊是不會有成效的，因此，有著好的健身觀念、好的重訓習慣，與了解健身運動的基本觀念就變得相當重要，不僅可
          p 以讓健身事半功倍，也可以讓自己了解自己最需要去健身的東西，而不是迷茫的做著不適合的健身姿勢。
          hr
          h4 介紹
          p 健身，慢慢成為現代人運動的方式，為了擁有一個好的身材，往往都是利用健身的方式去增強自己的身材，而健身的部分又分了很多種，像是練手
          p 臂、練背肌、練腿部等……，但由於時間與精力有限，我們不可能去練完所有動作，所以健身重要的基本觀念之一，是去了解自己想要去健身的目
          p 標，而不是盲目地像別人一樣，一直做著自己不懂的動作。
          p 對於不懂健身的人，往往都是希望自己能夠練個沒幾天，就有大塊的腹肌或者二頭肌，但健身是需要長久的訓練，不僅要去了解健身的姿勢，還要
          p 了解自身的狀況去配合飲食與休息，才可能擁有一個健壯的身材。而了解自己身體狀況去配合休息與飲食，也是健身的重要觀念，充分的健身、適


            
            
        .box.box2
          .icon
            i.fab.fa-fly
            h3 營養學~~~食物的六大類與其所含營養
          h4 介紹
          hr
          p 食物依所含的營養素不同來分為六大類:
          h5 第一類為全穀雜糧類(五穀根莖類):
          p 這類食品通常做為主食來食用，主要提供醣類，做為維持身體熱量的主要來源，是人每日必須所食用的一類。
          p 主要食物:穀類(像是米、大麥)、富含澱粉的食物(像是玉米、綠豆等)。
          h5 第二類為豆魚蛋肉類:
          p 這類食物主要是提供人獲取蛋白質的重要來源，而蛋白質主要是提供構成人體重要元素之一，因此對人體是十分重要的。
          p 主要食物:雞蛋、豆類食物、雞肉、魚肉等。
          h5 第三類為蔬菜類:
          p 這類食物主要提供人體獲取膳食纖維、維生素與礦物質，其中膳食纖維可以幫助人體排便較為順暢，維生素與礦物質則為人體不可或缺的營養要素，因此蔬菜類為維持人體的健康之重要因素。
          p 主要食物:蔬菜像小白菜、空心菜等蔬菜。
          h5 第四類水果類:
          p 這類食物主要提供維生素、礦物質與少量醣類，維生素與礦物質為人體所需的重要營養要素，雖然此類沒有像前面三類一樣重要，但水果類也是一種幫助身體獲取重要營養素的來源之一。
          p  主要食物:水果類像蘋果、芭樂、鳳梨等。
          h5 第五類為乳品類:
          p 這類食物主要提供大量的鈣質與蛋白質，鈣質可以強韌人體的骨骼，而蛋白質為人體重要的營養素之一，但此類食物不宜一天攝取過多，每天適量即可。
          p 主要食物:牛奶、乳製品等。
          h5 第六類為油脂與堅果種子類:
          p 這類食物主要提供人類脂肪，而脂肪能夠提供人體所需的熱量，以及作為保護人體器官的功能，這類食物也不宜攝取過多，每天適量即可。
          p 主要食物為:日常所用的食用油(像是葵花油、沙拉油等)、堅果類食物(像是花生、腰果等)。





        
footer.jumbotron
  .container
    h2 想了解更多ToughFit的故事嗎
    input.form-control(placeholder="Email")
    hr
    button.btn-group.btn-group-justified 訂閱專欄